{% extends 'layout.html' %}

{% block title %}My Data{% endblock %}

{% block pageName %}Moodglass: My Data{% endblock %}

{% block head %}
  <script src="//cdn.firebase.com/v0/firebase.js"></script>

  <script src="/lib/moment.min.js"></script>

  <script>
   var userId = '{{ userId }}';
  </script>

  <script src="/js/data.js"></script>
{% endblock %}

{% block body %}
 <section class="pull-right">
  <a class="btn btn-mini" href="/trigger"><i class="icon-play"></i> Trigger an
   update</a>
 </section>

 <h4>Breakdown</h4>

 <ul id="percentages">
  <li><img src="/img/red-full-alt.png"> <span id="mood-1">0</span>%</li>
  <li><img src="/img/yellow-full-alt.png"> <span id="mood-3">0</span>%</li>
  <li><img src="/img/green-full-alt.png"> <span id="mood-5">0</span>%</li>
 </ul>

 <hr>

 <h4>Over time</h4>

 <div id="timeline" class="progress">
  <!-- Filled programatically -->
 </div>

 <hr>

 <section class="pull-right">
  <a class="btn btn-mini" href="/data.css"><i class="icon-download-alt"></i>
   Export to CSV</a>
  <a class="btn btn-mini" href="/data.json"><i class="icon-download-alt"></i>
   Export to JSON</a>
 </section>

 <h4>All records</h4>

 <table class="table table-striped table-hover">
  <thead>
   <th style="width: 20%;">Time</th>
   <th style="width: 15%;">Mood</th>
   <th>Notes</th>
  </thead>

  <tbody id="rows">
   <!-- Filled programatically -->
  </tbody>
 </table>
{% endblock %}
