{% extends 'layout.html' %}

{% block body %}
 <h1>My Data</h1>

 <table>
  <thead>
   <th>Time</th>
   <th>Mood</th>
   <th>Notes</th>
  </thead>

  <tbody>
   <tr>
    <td>1/23/2013 4:43pm</td>
    <td>Good</td>
    <td></td>
   </tr>

   <tr>
    <td>1/24/2013 3:17pm</td>
    <td>OK</td>
    <td>feeling a little tired</td>
   </tr>

   <tr>
    <td>1/25/2013 6:15pm</td>
    <td>Good</td>
    <td></td>
   </tr>

   <tr>
    <td>1/24/2013 6:15pm</td>
    <td>Good</td>
    <td></td>
   </tr>
  </tbody>
 </table>
{% endblock %}
