{% extends 'layout.html' %}

{% block title %}My Data{% endblock %}

{% block pageName %}My Data{% endblock %}

{% block head %}
  <script src="//cdn.firebase.com/v0/firebase.js"></script>

  <script src="/lib/moment.min.js"></script>

  <script>
   var userId = '{{ userId }}';
  </script>

  <script src="/js/data.js"></script>
{% endblock %}

{% block body %}
 <table class="table table-striped table-hover">
  <thead>
   <th style="width: 20%;">Time</th>
   <th style="width: 15%;">Mood</th>
   <th>Notes</th>
  </thead>

  <tbody id="rows">
   <!-- Filled programatically -->
  </tbody>
 </table>
{% endblock %}
