<!DOCTYPE html>
<html>
 <head>
  <title>{% block title %}Moodglass{% endblock %}</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">

  <link rel="stylesheet" href="/css/moodglass.css" />

  {% block head %}{% endblock %}
 </head>

 <body>
  <div class="container">
   <header>
    <ul class="nav nav-pills pull-right">
     <!--<li class="active"><a href="#">Home</a></li>
     <li><a href="#">About</a></li>-->
     {% if authenticated %}
     <li><a href="/logout">Logout</a></li>
     {% endif %}
    </ul>

    <h1><a href="/"><img id="logo" src="/img/brain-logo-large.png"></a>
     {% block pageName %}Moodglass{% endblock %}</h1>

    {% if authenticated %}
    <section>Hi <span>{{ user.givenName }}</span>! You're logged in as <span
     id="username">{{ user.email }}</span>.</section>
    {% endif %}
   </header>

   <hr>

   {% block body %}{% endblock %}

   <hr>

   <footer>
    By <a href="https://twitter.com/beaugunderson">Beau Gunderson</a>.
   </footer>
  </div>
 </body>
</html>
