footer {
   margin-bottom: 1em;
}

header section {
   text-align: right;
}

#username {
   font-weight: bold;
}

#rows img {
   max-width: 16px;
   vertical-align: text-bottom;
   margin-right: 3px;
}

#percentages {
   margin-left: 0;
}

#percentages li {
   display: inline;
   margin-right: 2em;
}

#percentages li img {
   max-width: 32px;
   margin-right: 0.5em;
}

#logo {
   max-height: 2em;
}
